<div class="page_title_section">
    <div class="page_title_overlay"></div>
    <div class="page_header">
        <div class="container">
            <div class="row">
                <!-- section_heading start -->
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                    <h1>{{tituloPagina}} </h1>
                    <div class="sub_title_section">
                        <ul class="sub_title">
                            <li> <a href="#"> {{tituloPagina}} </a> <i class="fa fa-angle-right" aria-hidden="true"></i> </li>
                            <li>{{subtituloPagina}} </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="section_4">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-xs-12 col-sm-12 col-lg-offset-3">
                <div class="text_wrapper">
                    <div class="text_wrapper_heading">
                        <h2>{{subtituloPagina}}</h2>
                    </div>
                    <div class="text_wrapper_content">
                        <p>{{subtituloPagina}}</p>
                    </div>
                </div>
            </div>
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
      <div class="col-lg-3 col-md-3 col-xs-12 col-sm-6">
         <div class="team_member_main_wrapper">
          <div class="team_member_image">
             <img src="assets/images/team-images/team_classic/team-1.jpg" class="img-responsive" alt="team19_img" />
          </div>
          <div class="team_member_content">
            <h4><a href="#">{{nombreimagen1}}</a></h4>
            <h5>{{subtituloimagen1}}</h5>
            <ul class="team_member_social_icons">
               <li><a href="#"><i class="fa fa-facebook"></i></a>
               </li>
               <li><a href="#"><i class="fa fa-twitter"></i></a>
               </li>
               <li><a href="#"><i class="fa fa-linkedin"></i></a>
               </li>
               <li><a href="#"><i class="fa fa-rss"></i></a>
               </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-xs-12 col-sm-6">
         <div class="team_member_main_wrapper">
          <div class="team_member_image">
             <img src="assets/images/team-images/team_classic/team-2.jpg" class="img-responsive" alt="team19_img" />
          </div>
          <div class="team_member_content">
            <h4><a href="#">{{nombreimagen2}}</a></h4>
            <h5>{{subtituloimagen2}}</h5>
            <ul class="team_member_social_icons">
               <li><a href="#"><i class="fa fa-facebook"></i></a>
               </li>
               <li><a href="#"><i class="fa fa-twitter"></i></a>
               </li>
               <li><a href="#"><i class="fa fa-linkedin"></i></a>
               </li>
               <li><a href="#"><i class="fa fa-rss"></i></a>
               </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-xs-12 col-sm-6">
         <div class="team_member_main_wrapper">
          <div class="team_member_image">
             <img src="assets/images/team-images/team_classic/team-3.jpg" class="img-responsive" alt="team19_img" />
          </div>
          <div class="team_member_content">
            <h4><a href="#">{{nombreimagen3}}</a></h4>
            <h5>{{subtituloimagen3}}</h5>
            <ul class="team_member_social_icons">
               <li><a href="#"><i class="fa fa-facebook"></i></a>
               </li>
               <li><a href="#"><i class="fa fa-twitter"></i></a>
               </li>
               <li><a href="#"><i class="fa fa-linkedin"></i></a>
               </li>
               <li><a href="#"><i class="fa fa-rss"></i></a>
               </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-xs-12 col-sm-6">
         <div class="team_member_main_wrapper">
          <div class="team_member_image">
             <img src="assets/images/team-images/team_classic/team-4.jpg" class="img-responsive" alt="team19_img" />
          </div>
          <div class="team_member_content">
            <h4><a href="#">{{nombreimagen4}}</a></h4>
            <h5>{{subtituloimagen4}}</h5>
            <ul class="team_member_social_icons">
               <li><a href="#"><i class="fa fa-facebook"></i></a>
               </li>
               <li><a href="#"><i class="fa fa-twitter"></i></a>
               </li>
               <li><a href="#"><i class="fa fa-linkedin"></i></a>
               </li>
               <li><a href="#"><i class="fa fa-rss"></i></a>
               </li>
            </ul>
          </div>
        </div>
      </div>
       <div class="col-lg-3 col-md-3 col-xs-12 col-sm-6">
         <div class="team_member_main_wrapper">
          <div class="team_member_image">
             <img src="assets/images/team-images/team_classic/team-5.jpg" class="img-responsive" alt="team19_img" />
          </div>
          <div class="team_member_content">
            <h4><a href="#">{{nombreimagen5}}</a></h4>
            <h5>{{subtituloimagen5}}</h5>
            <ul class="team_member_social_icons">
               <li><a href="#"><i class="fa fa-facebook"></i></a>
               </li>
               <li><a href="#"><i class="fa fa-twitter"></i></a>
               </li>
               <li><a href="#"><i class="fa fa-linkedin"></i></a>
               </li>
               <li><a href="#"><i class="fa fa-rss"></i></a>
               </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-xs-12 col-sm-6">
         <div class="team_member_main_wrapper">
          <div class="team_member_image">
             <img src="assets/images/team-images/team_classic/team-6.jpg" class="img-responsive" alt="team19_img" />
          </div>
          <div class="team_member_content">
            <h4><a href="#">{{nombreimagen6}}</a></h4>
            <h5>{{subtituloimagen6}}</h5>
            <ul class="team_member_social_icons">
               <li><a href="#"><i class="fa fa-facebook"></i></a>
               </li>
               <li><a href="#"><i class="fa fa-twitter"></i></a>
               </li>
               <li><a href="#"><i class="fa fa-linkedin"></i></a>
               </li>
               <li><a href="#"><i class="fa fa-rss"></i></a>
               </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-xs-12 col-sm-6">
         <div class="team_member_main_wrapper">
          <div class="team_member_image">
             <img src="assets/images/team-images/team_classic/team-7.jpg" class="img-responsive" alt="team19_img" />
          </div>
          <div class="team_member_content">
            <h4><a href="#">{{nombreimagen7}}</a></h4>
            <h5>{{subtituloimagen7}}</h5>
            <ul class="team_member_social_icons">
               <li><a href="#"><i class="fa fa-facebook"></i></a>
               </li>
               <li><a href="#"><i class="fa fa-twitter"></i></a>
               </li>
               <li><a href="#"><i class="fa fa-linkedin"></i></a>
               </li>
               <li><a href="#"><i class="fa fa-rss"></i></a>
               </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-xs-12 col-sm-6">
         <div class="team_member_main_wrapper">
          <div class="team_member_image">
             <img src="assets/images/team-images/team_classic/team-8.jpg" class="img-responsive" alt="team19_img" />
          </div>
          <div class="team_member_content">
            <h4><a href="#">{{nombreimagen8}}</a></h4>
            <h5>{{subtituloimagen8}}</h5>
            <ul class="team_member_social_icons">
               <li><a href="#"><i class="fa fa-facebook"></i></a>
               </li>
               <li><a href="#"><i class="fa fa-twitter"></i></a>
               </li>
               <li><a href="#"><i class="fa fa-linkedin"></i></a>
               </li>
               <li><a href="#"><i class="fa fa-rss"></i></a>
               </li>
            </ul>
          </div>
        </div>
      </div>
       <div class="col-lg-3 col-md-3 col-xs-12 col-sm-6">
         <div class="team_member_main_wrapper">
          <div class="team_member_image">
             <img src="assets/images/team-images/team_classic/team-9.jpg" class="img-responsive" alt="team19_img" />
          </div>
          <div class="team_member_content">
            <h4><a href="#">{{nombreimagen9}}</a></h4>
            <h5>{{subtituloimagen9}}</h5>
            <ul class="team_member_social_icons">
               <li><a href="#"><i class="fa fa-facebook"></i></a>
               </li>
               <li><a href="#"><i class="fa fa-twitter"></i></a>
               </li>
               <li><a href="#"><i class="fa fa-linkedin"></i></a>
               </li>
               <li><a href="#"><i class="fa fa-rss"></i></a>
               </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-xs-12 col-sm-6">
         <div class="team_member_main_wrapper">
          <div class="team_member_image">
             <img src="assets/images/team-images/team_classic/team-10.jpg" class="img-responsive" alt="team19_img" />
          </div>
          <div class="team_member_content">
            <h4><a href="#">{{nombreimagen10}}</a></h4>
            <h5>{{subtituloimagen10}}</h5>
            <ul class="team_member_social_icons">
               <li><a href="#"><i class="fa fa-facebook"></i></a>
               </li>
               <li><a href="#"><i class="fa fa-twitter"></i></a>
               </li>
               <li><a href="#"><i class="fa fa-linkedin"></i></a>
               </li>
               <li><a href="#"><i class="fa fa-rss"></i></a>
               </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-xs-12 col-sm-6">
         <div class="team_member_main_wrapper">
          <div class="team_member_image">
             <img src="assets/images/team-images/team_classic/team-11.jpg" class="img-responsive" alt="team19_img" />
          </div>
          <div class="team_member_content">
            <h4><a href="#">{{nombreimagen11}}</a></h4>
            <h5>{{subtituloimagen11}}</h5>
            <ul class="team_member_social_icons">
               <li><a href="#"><i class="fa fa-facebook"></i></a>
               </li>
               <li><a href="#"><i class="fa fa-twitter"></i></a>
               </li>
               <li><a href="#"><i class="fa fa-linkedin"></i></a>
               </li>
               <li><a href="#"><i class="fa fa-rss"></i></a>
               </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-xs-12 col-sm-6">
         <div class="team_member_main_wrapper">
          <div class="team_member_image">
             <img src="assets/images/team-images/team_classic/team-12.jpg" class="img-responsive" alt="team19_img" />
          </div>
          <div class="team_member_content">
            <h4><a href="#">{{nombreimagen12}}</a></h4>
            <h5>{{subtituloimagen12}}</h5>
            <ul class="team_member_social_icons">
               <li><a href="#"><i class="fa fa-facebook"></i></a>
               </li>
               <li><a href="#"><i class="fa fa-twitter"></i></a>
               </li>
               <li><a href="#"><i class="fa fa-linkedin"></i></a>
               </li>
               <li><a href="#"><i class="fa fa-rss"></i></a>
               </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <!-- pagination_section start -->
      <div class="pagination_section">
        <ul>
          <li>
            <a href="#" class="prev"> <i class="fa fa-angle-left" aria-hidden="true"></i> {{botonanterior}} </a>
          </li>
          <li><a href="#">{{boton1}}</a>
          </li>
          <li class="hidden-xs"><a href="#">{{boton2}}</a>
          </li>
          <li class="hidden-xs"><a href="#">{{boton3}}</a>
          </li>
          <li class="hidden-xs"><a href="#">{{boton4}}</a>
          </li>
          <li class="hidden-xs"><a href="#">{{boton5}}</a>
          </li>
          <li class="hidden-xs"><a href="#">{{boton6}}</a>
          </li>
          <li class="hidden-xs hidden-sm"><a href="#">{{boton7}}</a>
          </li>
          <li class="visible-xs"><a href="#">{{boton8}}</a>
          </li>
          <li class="hidden-sm"><a href="#" >{{boton9}}</a>
          </li>
          <li><a href="#" class="next"> {{botonsiguiente}} <i class="fa fa-angle-right" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>
      <!-- pagination_section end -->
    </div>
  </div>
  <!-- row end -->
</div>





  <!-- row end -->
</div>
