<div class="page_title_section">
    <div class="page_title_overlay"></div>
    <div class="page_header">
        <div class="container">
            <div class="row">
                <!-- section_heading start -->
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                    <h1>{{tituloPagina}}</h1>
                    <div class="sub_title_section">
                        <ul class="sub_title">
                            <li> <a href="#"> {{subtituloPagina1}} </a> <i class="fa fa-angle-right" aria-hidden="true"></i> </li>
                            <li>{{subtituloPagina2}} </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="main-wrapper">

<!-- headingTwo start -->
<section class="headingTwo ptb-100 gray-bg">
    <div class="container text-center">
        <h2>{{subtituloPagina1}}</h2>
    </div>
</section>
<!-- headingTwo end -->
</div>



<section class="accordion_two_section ptb-100">
<div class="container">
    <div class="row">
        <div class="col-sm-6 accordionTwo">
            <div class="panel-group" id="accordionTwoLeft">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordionTwoLeft" href="#collapseTwoLeftone" aria-expanded="false">
                {{subtitulo1}}
              </a>
            </h4>
                    </div>
                    <div id="collapseTwoLeftone" class="panel-collapse collapse in" aria-expanded="false" role="tablist">
                        <div class="panel-body">
                            {{contenido1}}
                            <br>
                            {{contenido2}}
                        </div>
                    </div>
                </div>
                <!-- /.panel-default -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordionTwoLeft" href="#collapseTwoLeftTwo" aria-expanded="false">
                {{subtitulo2}}
              </a>
            </h4>
                    </div>
                    <div id="collapseTwoLeftTwo" class="panel-collapse collapse" aria-expanded="false" role="tablist">
                      <div class="panel-body">
                          {{contenido3}}
                          <br>
                         {{contenido4}}
                      </div>
                    </div>
                </div>
                <!-- /.panel-default -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordionTwoLeft" href="#collapseTwoLeftThree" aria-expanded="false">
                {{subtitulo3}}
              </a>
            </h4>
                    </div>
                    <div id="collapseTwoLeftThree" class="panel-collapse collapse" aria-expanded="false" role="tablist">
                      <div class="panel-body">
                          {{contenido5}}
                          <br>
                          {{contenido6}}
                      </div>
                    </div>
                </div>
                <!-- /.panel-default -->
            </div>
            <!--end of /.panel-group-->
        </div>
        <!--end of /.col-sm-6-->
        <div class="col-sm-6 accordionTwo">
            <div class="panel-group" id="accordionTwoRight">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordionTwoRight" href="#collapseTwoRightone" aria-expanded="false">
                {{subtitulo4}}
              </a>
            </h4>
                    </div>
                    <div id="collapseTwoRightone" class="panel-collapse collapse" aria-expanded="false" role="tablist">
                      <div class="panel-body">
                          {{contenido7}}
                          <br>
                          {{contenido8}}
                      </div>
                    </div>
                </div>
                <!-- /.panel-default -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordionTwoRight" href="#collapseTwoRightTwo" aria-expanded="false">
                {{subtitulo5}}
              </a>
            </h4>
                    </div>
                    <div id="collapseTwoRightTwo" class="panel-collapse collapse" aria-expanded="false" role="tablist">
                      <div class="panel-body">
                          {{contenido9}}
                          <br>
                          {{contenido10}}
                      </div>
                    </div>
                </div>
                <!-- /.panel-default -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordionTwoRight" href="#collapseTwoRightThree" aria-expanded="false">
                {{subtitulo6}}
              </a>
            </h4>
                    </div>
                    <div id="collapseTwoRightThree" class="panel-collapse collapse in" aria-expanded="false" role="tablist">
                      <div class="panel-body">
                          {{contenido11}}
                          <br>
                          {{contenido12}}
                      </div>
                    </div>
                </div>
                <!-- /.panel-default -->
            </div>
            <!--end of /.panel-group-->
        </div>
        <!--end of /.col-sm-6-->
    </div>
</div>
<!--end of /.container-->
</section>
