<div class="page_title_section">
    <div class="page_title_overlay"></div>
    <div class="page_header">
        <div class="container">
            <div class="row">
                <!-- section_heading start -->
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                    <h1>{{tituloPagina}}</h1>
                    <div class="sub_title_section">
                        <ul class="sub_title">
                            <li> <a href="#"> {{tituloPagina}} </a> <i class="fa fa-angle-right" aria-hidden="true"></i> </li>
                            <li>{{subtituloPagina}} </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- img_box_wrapper section start -->
  <div class="img_box_wrapper">
     <div class="container">
        <div class="row">
    <div class="col-lg-8 col-md-12 col-xs-12 col-sm-12 col-lg-offset-2">
        <div class="section_heading">
          <h2>{{tituloseccion1}}</h2>
          <span class="bordered-icon"><i class="fa fa-square"></i></span>
        </div>
        <div class="section_content">
          <p>{{contenido1}}</p>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
      <div class="row">
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
              <a href="#"><img src="assets/images/services/img-4.png" alt="Image">
              </a>
              <div class="caption">
                <h4><a href="#">{{nombreimagen1}}</a></h4>
                  <p>{{descripcionimagen1}}</p>
              </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
              <a href="#"><img src="assets/images/services/img-5.png" alt="Image">
              </a>
              <div class="caption">
                <h4><a href="#">{{nombreimagen2}}</a></h4>
                  <p>{{descripcionimagen2}}</p>
              </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
              <a href="#"><img src="assets/images/services/img-6.png" alt="Image">
              </a>
              <div class="caption">
                <h4><a href="#">{{nombreimagen3}}</a></h4>
                  <p>{{descripcionimagen3}}</p>
              </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
              <a href="#"><img src="assets/images/services/img-7.png" alt="Image">
              </a>
              <div class="caption">
                <h4><a href="#">{{nombreimagen4}}</a></h4>
                  <p>{{descripcionimagen4}}</p>
              </div>
            </div>
        </div>
      </div>
    </div>
          </div>
          <!-- row -->
      </div>
      <!-- container -->
  </div>
  <!-- img_box_wrapper end -->


  <!-- img_box_wrapper section start -->
    <div class="img_box_wrapper">
       <div class="container">
          <div class="row">
      <div class="col-lg-8 col-md-12 col-xs-12 col-sm-12 col-lg-offset-2">
          <div class="section_heading">
            <h2>{{tituloseccion2}}</h2>
            <span class="bordered-icon"><i class="fa fa-square"></i></span>
          </div>
          <div class="section_content">
            <p>{{contenido2}}</p>
          </div>
      </div>
      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <div class="row">
          <div class="col-sm-6 col-md-6">
              <div class="thumbnail">
                <a href="#"><img src="assets/images/services/img-4.png" alt="Image">
                </a>
                <div class="caption">
                  <h4><a href="#">{{nombreimage5}}</a></h4>
                    <p>{{descripcionimage5}}</p>
                </div>
              </div>
          </div>

          <div class="col-sm-6 col-md-6">
              <div class="thumbnail">
                <a href="#"><img src="assets/images/services/img-5.png" alt="Image">
                </a>
                <div class="caption">
                  <h4><a href="#">{{nombreimagen6}}</a></h4>
                    <p>{{descripcionimagen6}}</p>
                </div>
              </div>
          </div>


        </div>
      </div>
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
    <!-- img_box_wrapper end -->


    <!-- img_box_wrapper section start -->
      <div class="img_box_wrapper">
         <div class="container">
            <div class="row">
        <div class="col-lg-8 col-md-12 col-xs-12 col-sm-12 col-lg-offset-2">
            <div class="section_heading">
              <h2>{{tituloseccion3}}</h2>
              <span class="bordered-icon"><i class="fa fa-square"></i></span>
            </div>
            <div class="section_content">
              <p>{{contenido3}}</p>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
          <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                  <a href="#"><img src="assets/images/services/img-4.png" alt="Image">
                  </a>
                  <div class="caption">
                    <h4><a href="#">{{nombreimagen7}}</a></h4>
                      <p>{{descripcionimagen7}}</p>
                  </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                  <a href="#"><img src="assets/images/services/img-5.png" alt="Image">
                  </a>
                  <div class="caption">
                    <h4><a href="#">{{nombreimagen8}}</a></h4>
                      <p>{{descripcionimagen8}}</p>
                  </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                  <a href="#"><img src="assets/images/services/img-6.png" alt="Image">
                  </a>
                  <div class="caption">
                    <h4><a href="#">{{nombreimagen9}}</a></h4>
                      <p>{{descripcionimagen9}}</p>
                  </div>
                </div>
            </div>

         </div>
        </div>
              </div>
              <!-- row -->
          </div>
          <!-- container -->
      </div>
      <!-- img_box_wrapper end -->



      <!-- img_box_wrapper section start -->
        <div class="img_box_wrapper">
           <div class="container">
              <div class="row">
          <div class="col-lg-8 col-md-12 col-xs-12 col-sm-12 col-lg-offset-2">
              <div class="section_heading">
                <h2>{{tituloseccion4}}</h2>
                <span class="bordered-icon"><i class="fa fa-square"></i></span>
              </div>
              <div class="section_content">
                <p>{{contenido4}}</p>
              </div>
          </div>
          <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <div class="row">
              <div class="col-sm-6 col-md-6">
                  <div class="thumbnail">
                    <a href="#"><img src="assets/images/services/img-4.png" alt="Image">
                    </a>
                    <div class="caption">
                      <h4><a href="#">{{nombreimagen10}}</a></h4>
                        <p>{{descripcionimagen10}}</p>
                    </div>
                  </div>
              </div>

              <div class="col-sm-6 col-md-6">
                  <div class="thumbnail">
                    <a href="#"><img src="assets/images/services/img-5.png" alt="Image">
                    </a>
                    <div class="caption">
                      <h4><a href="#">{{nombreimagen11}}</a></h4>
                        <p>{{descripcionimagen11}}</p>
                    </div>
                  </div>
              </div>


           </div>
          </div>
                </div>
                <!-- row -->
            </div>
            <!-- container -->
        </div>
  