<div class="page_title_section">
    <div class="page_title_overlay"></div>
    <div class="page_header">
        <div class="container">
            <div class="row">
                <!-- section_heading start -->
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                    <h1>{{tituloPagina}} </h1>
                    <div class="sub_title_section">
                        <ul class="sub_title">
                            <li> <a href="#"> {{tituloPagina}} </a> <i class="fa fa-angle-right" aria-hidden="true"></i> </li>
                            <li>{{subtituloPagina}} </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- blog_section start -->
<div class="blog_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-5 hidden-xs">




                <div class="sidebar_widget">
                    <h4>{{titulo1}}</h4>
                    <div class="text_widget_content">
                        <p>
                      {{contenido1}}
                        </p>
                        <a href="#">
              #
            </a>
                    </div>
                </div>

                <div class="sidebar_widget">
                    <h4>{{titulo4}}</h4>
                    <div class="archives_wrapper">
                        <ul>
                            <li>
                                <a href="#">
                  <i class="fa fa-caret-right" aria-hidden="true"></i> {{boton1}}
                </a>
                            </li>
                            <li>
                                <a href="#">
                  <i class="fa fa-caret-right" aria-hidden="true"></i> {{boton2}}
                </a>
                            </li>


                        </ul>
                    </div>
                </div>

            </div>

            <div class="col-lg-9 col-md-8 col-sm-7 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <article class="blog-post-wrapper clearfix">
                            <div class="post-thumbnail">
                                <img src="assets/images/blog/blog-4/blog-1.jpg" alt="Image">


                            </div>
                            <!-- /.post-thumbnail -->

                            <div class="blog-content">
                                <header class="entry-header">
                                    <h4 class="entry-title"><a href="#">{{titulo2}}</a></h4>
                                    <div class="entry-meta">
                                        <ul>
                                            <li><span class="author">{{subtitulo2}} <a href="#"></a></span>
                                            </li>
                                            <!-- <li><span class="posted-in">In <a href="#">Web Design</a></span>
                                            </li> -->
                                        </ul>
                                    </div>
                                    <!-- /.entry-meta -->
                                </header>
                                <!-- /.entry-header -->

                                <div class="entry-content">
                                    <p>
                                        {{contenido2}}
                                    </p>
                                </div>
                                <!-- /.entry-content -->
                            </div>
                            <!-- /.blog-content -->


                            <!-- /.entry-footer -->
                        </article>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <article class="blog-post-wrapper clearfix">
                            <div class="post-thumbnail">
                                <div id="blog_section_slider" class="carousel slide" data-ride="carousel">

                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner" role="listbox">
                                        <div class="item active">
                                            <img src="assets/images/blog/blog-4/blog-2.jpg" alt="Image">
                                        </div>
                                        <div class="item">
                                            <img src="assets/images/blog/blog-4/blog-1.jpg" alt="Image">
                                        </div>
                                    </div>


                                </div>


                            </div>
                            <!-- /.post-thumbnail -->

                            <div class="blog-content">
                                <header class="entry-header">
                                    <h4 class="entry-title"><a href="#">{{titulo3}}</a></h4>
                                    <div class="entry-meta">
                                        <ul>
                                            <li><span class="author">{{subtitulo3}} <a href="#"></a></span>
                                            </li>
                                            <!-- <li><span class="posted-in">In <a href="#">Web Design</a></span>
                                            </li> -->
                                        </ul>
                                    </div>
                                    <!-- /.entry-meta -->
                                </header>
                                <!-- /.entry-header -->

                                <div class="entry-content">
                                    <p>
                                        {{contenido3}}
                                    </p>
                                </div>
                                <!-- /.entry-content -->
                            </div>
                            <!-- /.blog-content -->


                            <!-- /.entry-footer -->
                        </article>
                    </div>




                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <article class="blog-post-wrapper clearfix">
                            <div class="post-thumbnail">
                                <img src="assets/images/blog/blog-4/blog-11.jpg" alt="Image" />

                            </div>
                            <!-- /.post-thumbnail -->

                            <div class="blog-content">
                                <header class="entry-header">
                                    <h4 class="entry-title"><a href="#">{{titulo5}}</a></h4>
                                    <div class="entry-meta">
                                        <ul>
                                            <li><span class="author">{{subtitulo5}} <a href="#"></a></span>
                                            </li>
                                            <li><span class="posted-in"> <a href="#"></a></span>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- /.entry-meta -->
                                </header>
                                <!-- /.entry-header -->

                                <div class="entry-content">
                                    <p>
                                        {{contenido5}}
                                    </p>
                                </div>
                                <!-- /.entry-content -->
                            </div>
                            <!-- /.blog-content -->


                            <!-- /.entry-footer -->
                        </article>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <article class="blog-post-wrapper clearfix">
                            <div class="post-thumbnail">
                                <img src="assets/images/blog/blog-4/blog-12.jpg" alt="Image">


                            </div>
                            <!-- /.post-thumbnail -->

                            <div class="blog-content">
                                <header class="entry-header">
                                    <h4 class="entry-title"><a href="#">{{titulo6}}</a></h4>
                                    <div class="entry-meta">
                                        <ul>
                                            <li><span class="author">{{subtitulo6}} <a href="#"></a></span>
                                            </li>
                                            <!-- <li><span class="posted-in">In <a href="#">Web Design</a></span>
                                            </li> -->
                                        </ul>
                                    </div>
                                    <!-- /.entry-meta -->
                                </header>
                                <!-- /.entry-header -->

                                <div class="entry-content">
                                    <p>
                                        {{contenido6}}.
                                    </p>
                                </div>
                                <!-- /.entry-content -->
                            </div>
                            <!-- /.blog-content -->

                            <!-- /.entry-footer -->
                        </article>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <!-- blog_pagination_section start -->
                        <div class="blog_pagination_section">
                            <ul>
                                <li>
                                    <a href="#" class="prev"> <i class="fa fa-angle-left" aria-hidden="true"></i> {{botonPrev}} </a>
                                </li>
                                <li><a href="#">{{boton3}}</a>
                                </li>
                                <li class="hidden-xs"><a href="#">{{boton4}}</a>
                                </li>
                                <li class="hidden-xs"><a href="#">{{boton5}}</a>
                                </li>
                                <li class="hidden-xs"><a href="#">{{boton6}}</a>
                                </li>
                                <li class="hidden-xs"><a href="#">{{boton7}}</a>
                                </li>
                                <li class="hidden-xs"><a href="#">{{boton8}}</a>
                                </li>
                                <li class="hidden-xs hidden-sm"><a href="#">{{boton9}}</a>
                                </li>
                                <li class="visible-xs"><a href="#">...</a>
                                </li>
                                <li><a href="#">{{boton10}}</a>
                                </li>
                                <li><a href="#" class="next"> {{botonNext}} <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>
                        <!-- blog_pagination_section end -->
                    </div>

                </div>
            </div>
            <div class="col-xs-12 visible-xs">


                <div class="sidebar_widget">
                    <h4>Latest Post</h4>
                     <div class="latest_post_wrapper">
                        <div class="blog_wrapper1">
                            <div class="blog_image">
                                <img src="assets/images/blog/blog-10/blog_img1.jpg" class="img-responsive" alt="blog_img1" />
                            </div>
                            <div class="blog_text">
                                <h5><a href="#">Familiar idea<br> with Clients</a></h5>
                                <div class="blog_date"><i class="fa fa-calendar-o" aria-hidden="true"></i>June 28, 2018-19</div>
                            </div>
                        </div>
                        <div class="blog_wrapper2">
                            <div class="blog_image">
                                <img src="assets/images/blog/blog-10/blog_img2.jpg" class="img-responsive" alt="blog_img2" />
                            </div>
                            <div class="blog_text">
                                <h5><a href="#">Lorem ipsum <br> dolor sit elit</a></h5>
                                <div class="blog_date"><i class="fa fa-calendar-o" aria-hidden="true"></i>June 28, 2018-19</div>
                            </div>
                        </div>
                        <div class="blog_wrapper3">
                            <div class="blog_image">
                                <img src="assets/images/blog/blog-10/blog_img3.jpg" class="img-responsive" alt="blog_img3" />
                            </div>
                            <div class="blog_text">
                              <h5><a href="#">Donec id elit <br>gravida aeget </a></h5>
                                <div class="blog_date"><i class="fa fa-calendar-o" aria-hidden="true"></i>June 28, 2018-19</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sidebar_widget">
                    <div class="video_wrapper">
                        <img src="assets/images/blog/blog-2/video_img.jpg" alt="blog_img1" />
                        <a href="https://www.youtube.com/watch?v=b9krhARsAHU" class="play-trigger"><span><i class="fa fa-play"></i></span></a>
                    </div>
                </div>
                <div class="sidebar_widget">
                    <h4>Tags Cloud</h4>
                    <div class="tag_cloud_wrapper">
                        <ul>
                            <li>
                                <a href="#">Business</a>
                            </li>
                            <li>
                                <a href="#">Corporate</a>
                            </li>
                            <li>
                                <a href="#">Services</a>
                            </li>
                            <li>
                                <a href="#">Customer</a>
                            </li>
                            <li>
                                <a href="#">Money</a>
                            </li>
                            <li class="active">
                                <a href="#">Portfolio</a>
                            </li>
                            <li>
                                <a href="#">Partners</a>
                            </li>
                            <li>
                                <a href="#">Wordpress</a>
                            </li>
                            <li>
                                <a href="#">Html</a>
                            </li>
                            <li>
                                <a href="#">Psd</a>
                            </li>
                            <li>
                                <a href="#">Joomla</a>
                            </li>
                            <li>
                                <a href="#">Skills</a>
                            </li>
                            <li>
                                <a href="#">Prices</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="sidebar_widget">
                    <h4>Movilidad</h4>
                    <div class="text_widget_content">
                        <p>
                            Sollicitudin, lorem quis bibe u auctor, nisi elit couat ipsu, nec sagittis sem ni id elit. Duis sed odio sit amet.
                        </p>
                        <p>
                            Nibh vulpute cursus. Proin gravida nibh vel velit tor aliquet.
                        </p>
                        <a href="#">
            #
          </a>
                    </div>
                </div>
                <div class="sidebar_widget">
                    <h4>Instagram</h4>
                    <ul class="instagram_images">
                        <li>
                            <div class="instagram_wrapper">
                                <div class="instagram_img_wrapper">
                                    <img src="assets/images/blog/blog-2/gallery1.jpg" class="img-responsive" alt="gallery_img" />
                                    <div class="instagram_img_overlay">
                                        <div class="instagram_img_overlay_icon">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="instagram_wrapper">
                                <div class="instagram_img_wrapper">
                                    <img src="assets/images/blog/blog-2/gallery2.jpg" class="img-responsive" alt="gallery_img" />
                                    <div class="instagram_img_overlay">
                                        <div class="instagram_img_overlay_icon">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="instagram_wrapper">
                                <div class="instagram_img_wrapper">
                                    <img src="assets/images/blog/blog-2/gallery3.jpg" class="img-responsive" alt="gallery_img" />
                                    <div class="instagram_img_overlay">
                                        <div class="instagram_img_overlay_icon">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="instagram_wrapper">
                                <div class="instagram_img_wrapper">
                                    <img src="assets/images/blog/blog-2/gallery4.jpg" class="img-responsive" alt="gallery_img" />
                                    <div class="instagram_img_overlay">
                                        <div class="instagram_img_overlay_icon">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="instagram_wrapper">
                                <div class="instagram_img_wrapper">
                                    <img src="assets/images/blog/blog-2/gallery5.jpg" class="img-responsive" alt="gallery_img" />
                                    <div class="instagram_img_overlay">
                                        <div class="instagram_img_overlay_icon">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="instagram_wrapper">
                                <div class="instagram_img_wrapper">
                                    <img src="assets/images/blog/blog-2/gallery6.jpg" class="img-responsive" alt="gallery_img" />
                                    <div class="instagram_img_overlay">
                                        <div class="instagram_img_overlay_icon">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="sidebar_widget">
                    <h4>Archives</h4>
                    <div class="archives_wrapper">
                        <ul>
                            <li>
                                <a href="#">
                <i class="fa fa-caret-right" aria-hidden="true"></i> January 2016
              </a>
                            </li>
                            <li>
                                <a href="#">
                <i class="fa fa-caret-right" aria-hidden="true"></i> February 2016
              </a>
                            </li>
                            <li>
                                <a href="#">
                <i class="fa fa-caret-right" aria-hidden="true"></i> March 2016
              </a>
                            </li>
                            <li>
                                <a href="#">
                <i class="fa fa-caret-right" aria-hidden="true"></i> April 2016
              </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="sidebar_widget">
                    <div class="twitter_wrapper">
                        <div class="twitter_icon_wrapper">
                            <div class="twitter_icon_image">
                                <i class="fa fa-twitter"></i>
                            </div>
                            <div class="twitter_icon_content">
                                <a>@akshayhandge</a>
                            </div>
                        </div>
                        <p>
                            http://goo.gl/kaKnUP Click Here, One More PSD Approval on Theme Forest #website #PSD #theme #webstrot
                        </p>
                        <p>
                            - 4 Hours ago
                        </p>
                        <ul>
                            <li>
                                <a class="likes" href="#"><i class="fa fa-heart-o"></i> 152</a>
                            </li>
                            <li>
                                <a class="comments" href="#"><i class="fa fa-comment-o"></i> 25</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- blog_section end -->
