<header>
        <div class="topbar">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12  hidden-xs">
                        <div class="top_header_add">
                            <ul>
                                <li><i class="fa fa-phone" aria-hidden="true"></i><span>Llamanos :</span>55555555</li>
                                <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="#"><span>Email :</span> posgrado@uam.com</a></li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <!-- Social Icon -->
                        <div class="social_links">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                        <!-- /.Social Button -->
                    </div>
                </div>
            </div>
            <!-- /.container -->
        </div>

        <div class="main_menu_wrapper">
            <nav class="navbar navbar-default">

                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->

                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="index.html"><img src="assets/assets/images/variacion6Izt.png" width="180px" alt=""></a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right main-nav">
                            <li class="active dropdown"><a href="index.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Inicio</a>

                            </li>
                            
                            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Información del Posgrado </a>
                                <ul class="dropdown-menu">
                                  <li> <a href="homepage1.html"> Maestría<span><i class="fa fa-caret-right"></i>
                                  </span></a>
                                    <ul class="dropdown-menu-right">
                                      <li> <a href="infoMaestria.html"  >Información General</a>
                                      </li>
                                      <li> <a href="perfilesMaestria.html"  >Perfiles de Ingreso y Egreso</a>
                                      </li>
                                      <li> <a href="planEstudiosMaestria.html"  >Plan de Estudios</a>
                                      </li>
                                      <li> <a href="#"  >Proceso de Admisión<span><i class="fa fa-caret-right"></i>
                                      </span></a>
                                        <ul class="dropdown-menu-right">
                                          <li> <a href="proceso-admision.html"  >Proceso de Admisión</a>
                                          </li>
                                          <li> <a href="admisionDiagrama.html"  >Proceso de Admisión (Diagrama)</a>
                                          </li>
                                          <li> <a href="faqUam.html"  >Preguntas frecuentes</a>
                                          </li>
                                        </ul>
                                      </li>
                                      <li> <a href="proceso-examen-grado.html"  >Proceso Examen de Grado</a>
                                      </li>
                                      <li> <a href="alumnos-exalumnos.html"  >Alumnos y Exalumnos</a>
                                      </li>
  
                                    </ul>
                                  </li>
                                  <li> <a href="homepage2.html"> Doctorado<span><i class="fa fa-caret-right"></i>
                                  </span></a>
                                  <ul class="dropdown-menu-right">
                                    <li> <a href="infoDoctorado.html"  >Información General</a>
                                    </li>
                                    <li> <a href="perfilesDoctorado.html"  >Perfiles de Ingreso y Egreso</a>
                                    </li>
                                    <li> <a href="planEstudiosDoctorado.html"  >Plan de Estudios</a>
                                    </li>
                                    <li> <a href="#"  >Proceso de Admisión<span><i class="fa fa-caret-right"></i>
                                    </span></a>
                                      <ul class="dropdown-menu-right">
                                        <li> <a href="procesoAdmisionDoctorado.html"  >Proceso de Admisión</a>
                                        </li>
                                        <li> <a href="faqDoctorado.html"  >Preguntas frecuentes</a>
                                        </li>
                                      </ul>
                                    </li>
                                    <li> <a href="#"  >Proceso Examen Predoctoral</a>
                                    </li>
                                    <li> <a href="#"  >Proceso Examen de Grado</a>
                                    </li>
                                    <li> <a href="#"  >Alumnos y Exalumnos</a>
                                    </li>
                                  </ul>
                                  </li>
  
  
  
                                  <li> <a href="homepage3.html">Líneas del conocimiento</a>
                                  </li>
                                  <li> <a href="homepage4.html">Lineamientos</a>
                                  </li>
                                  <li> <a href="homepage5.html">Infraestructura</a>
                                  </li>
                                  <li> <a href="homepage6.html">Información estadística</a>
                                  </li>
                                  <li> <a href="homepage6.html">Movilidad</a>
                                  </li>
                                  <li> <a href="homepage6.html">Vinculación</a>
                                  </li>
                                </ul>
                              </li>
                            
                            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Información Académica </a>
                                <ul class="dropdown-menu">
                                  <li> <a href="#"> Profesores</a></li>
                                  <li> <a href="#"> Producción Académica<span><i class="fa fa-caret-right"></i>
                                    </span></a>
                                    <ul class="dropdown-menu-right">
                                      <li> <a href="#"  >Artículos de Investigación</a>
                                      </li>
                                      <li> <a href="#"  >Libros Especializados</a>
                                      </li>
                                      <li> <a href="#"  >Libros y Artículos de Investigación</a>
                                      </li>
                                      <li> <a href="#"  >Tesis de Maestría</a>
                                      </li>
                                    </ul>
                                  </li>
                                <!-- </li> -->
  
                                <li> <a href="#"> Proyectos de Investigación<span><i class="fa fa-caret-right"></i>
                                </span></a>
                                  <ul class="dropdown-menu-right">
                                    <li> <a href="#"  >Maestría</a>
                                    </li>
                                    <li> <a href="#"  >Doctorado</a>
                                    </li>
                                  </ul>
                                </li>
  
                                  
                              </ul>
                            </li>
                            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Comunidad </a>
                              <ul class="dropdown-menu">
                                <li> <a href="#"> Calendario</a></li>
                                <li> <a href="#"> Plan trimestral</a></li>
                                <li> <a href="#"> Becas</a></li>
                                <li> <a href="#"> Publicaciones</a></li>
                                <li> <a href="#"> Enlaces externos</a></li>
                                <li> <a href="#"> Egresados</a></li>
                              </ul>
                            </li>
                            <li><a href="#">Avisos</a></li>
                            <li><a href="#">Seminarios</a></li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container -->

            </nav>
        </div>
        <!-- .site-nav -->
        <!-- <div class="mobail_menu_main visible-xs">
            <div id="sidebar">
                <h1>Menu</h1>
                <div id="toggle_close">&times;</div>
                <div id='cssmenu'>
                    <ul>
                        <li class="active"><a href="index.html">Inicio</a></li>

                        <li class='has-sub'><a href='#'>Departments</a>
                            <ul>
                                <li><a href="gynaecology_department.html">Gynaecology & testube baby </a></li>
                                <li><a href="orthopaedics_department.html">Orthopaedics & Joint Replacements</a></li>
                                <li><a href="eye_department.html">EYE</a></li>
                                <li><a href="ent_department.html">ENT</a></li>
                                <li><a href="cardiology_department.html">Cardiology</a></li>
                                <li><a href="laparoscopic_department.html">General and Laparoscopic Surgery</a></li>
                                <li><a href="bariatric_department.html">Bariatric Surgery </a></li>
                                <li><a href="neurosurgery_department.html">Neurology & Neurosurgery</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Información Académica</a></li>
                        <li><a href="#">Comunidad</a></li>
                        <li><a href="#">Avisos</a></li>
                        <li><a href="#">Seminarios</a></li>
                    </ul>
                </div>
            </div>
        </div> -->

        <div id="sidebar">
            <h1><a href="#">Sidebar Menu</a></h1>
            <div id="toggle_close">&times;</div>
            <div id='cssmenu'>
                <ul>

                    <li class="active"><a href="index.html">Home</a></li>
                    <li><a href="about_us.html">About Us</a></li>
                    <li><a href="what_we_offer.html">What We Offer</a></li>
                    <li class='has-sub'><a href='#'>Departments</a>
                        <ul>
                            <li><a href="gynaecology_department.html">Gynaecology & testube baby </a></li>
                            <li><a href="orthopaedics_department.html">Orthopaedics & Joint Replacements</a></li>
                            <li><a href="eye_department.html">EYE</a></li>
                            <li><a href="ent_department.html">ENT</a></li>
                            <li><a href="cardiology_department.html">Cardiology</a></li>
                            <li><a href="laparoscopic_department.html">General and Laparoscopic Surgery</a></li>
                            <li><a href="bariatric_department.html">Bariatric Surgery </a></li>
                            <li><a href="neurosurgery_department.html">Neurology & Neurosurgery</a></li>
                        </ul>
                    </li>
                    <li><a href="doctors.html">Doctors</a></li>
                    <li><a href="appointment.html">Make A Appointment</a></li>

                </ul>
            </div>
        </div>

    </header>