
    <!--Slider area start here-->
    <section class="slider-area">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">

                <div class="item active">
                    <div class="carousel-captions caption-1"[ngStyle]="{'background-image': 'url(' + slider1imagen + ')'}" >

                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="content">
                                        <h2 class="animated lightSpeedIn"><span>{{slider1texto1}}</span> </h2>
                                        <p class="animated slideInLeft">Recepción de documentos hasta el 21 de Junio.</p>
                                        <a href="#" class="btn1 animated zoomInUp"><span>Más Información</span></a>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class=" carousel-captions caption-2">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="content">
                                        <h2 class="animated lightSpeedIn"><span>Doctorado</span> 2019<br> UAM <span>Iztapalapa</span></h2>
                                        <p class="animated slideInLeft">Recepción de documentos hasta el 21 de Junio.</p>
                                        <a href="#" class="btn1 animated zoomInUp"><span>Más Información</span></a>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-captions caption-3">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="content">
                                        <h2 class="animated lightSpeedIn"><span>Bienvenida</span> para los alumnos<br> de Maestría <span>2019.</span></h2>

                                        <p class="animated slideInLeft">La UAM Iztapalapa les da la más cordial bienvenida a éste nuevo ciclo.</p>
                                        <a href="#" class="btn1 animated zoomInUp"><span>Más Información</span></a>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"><span class="number">1</span><span class="con">Maestría </span></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1" class=""><span class="number">2</span><span class="con">Doctorado </span></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2" class=""><span class="number">3</span><span class="con">Bienvenida </span></li>
                </ol>
            </div>
        </div>
    </section>
    <!--Slider area end here-->
    <!-- Features Section Start -->
    <div class="features-sec">
        <div class="container">
            <div class="row">

                <div class="col-md-4 col-sm-12  wow  bounceInUp animated" data-wow-duration="1.3s" style="visibility: visible; animation-duration: 1.3s; animation-name: bounceInUp;">
                    <div class="features-col col-default-mb30 ">
                        <div class="features-img">
                            <img src="assets/assets/images/counter-images/feature_1.jpg" alt="features-img" class="img-responsive">
                            <div class="features-title">
                                <h3>UAM Iztapalapa</h3>
                                <p>Texto 1</p>
                            </div>
                            <div class="features-content">
                                <p>Texto descriptivo.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12  wow  bounceInUp animated" data-wow-duration="1.6s" style="visibility: visible; animation-duration: 1.6s; animation-name: bounceInUp;">
                    <div class="features-col col-default-mb30">
                        <div class="features-img">
                            <img src="assets/assets/images/counter-images/feature_2.jpg" alt="features-img" class="img-responsive">
                            <div class="features-title">
                                <h3>Alumnos</h3>
                                <p>Texto 2</p>
                            </div>
                            <div class="features-content">
                                <p>Texto descriptivo.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12  wow  bounceInUp animated" data-wow-duration="1.9s" style="visibility: visible; animation-duration: 1.9s; animation-name: bounceInUp;">
                    <div class="features-col col-default-mb30">
                        <div class="features-img">
                            <img src="assets/assets/images/counter-images/feature_3.jpg" alt="features-img" class="img-responsive">
                            <div class="features-title">
                                <h3>Instalaciones</h3>
                                <p>Texto 3</p>
                            </div>
                            <div class="features-content">
                                <p>Texto descriptivo.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- feature section end-->

    <!-- about us section end -->
    <div class="about_our_agency_secion">
		<div class="container">
            <div class="row">
				<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
					<div class="section_heading">
						<h2>Presentación<span> </span></h2>
						<div class="title-bdr">
							<div class="title-bdr-inside"></div>
						</div>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
							<div class="video_wrapper_content">
								<div class="icon_wrapper">
									<div class="icon_img">
										<i class="fa fa-university" aria-hidden="true"></i>
									</div>
									<div class="icon_content">
										<h4><a href="#">Presentación</a></h4>
										<p>El Departamento de Química en la División de Ciencias Básicas e Ingeniería de la UAM-Iztapalapa, cuenta con un programa que ofrece las opciones terminales de Maestría, Doctorado con Maestría y Doctorado Directo.</p>
									</div>
								</div>
								<div class="icon_wrapper">
									<div class="icon_img">
										<i class="fa fa-object-group" aria-hidden="true"></i>
									</div>
									<div class="icon_content">
										<h4><a href="#">Objetivos generales</a></h4>
										<p>El objetivo principal de nuestro Posgrado consiste en formar investigadores y profesionales de alto nivel académico capaces de generar, difundir, enseñar y aplicar nuevos conocimientos para las ciencias básicas y la ingeniería. </p>
									</div>
								</div>
								<div class="icon_wrapper">
									<div class="icon_img">
										<i class="fa fa-user-circle-o" aria-hidden="true"></i>
									</div>
									<div class="icon_content">
										<h4><a href="#">A quién está dirigido</a></h4>
										<p>El Posgrado en Química está dirigido a profesionistas egresados de carreras de química, ingeniería química o bioquímica, biología, física y afines. </p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<div class="video_wrapper">
							  <div class="video_overlay">
								<div class="video_image">
								</div>
								<div class="video_btn">
									<a href="" class="play-trigger">
										<span></span>
									</a>
								</div>
							  </div>
							</div>
						</div>
					</div>
				</div>

            </div>
        </div>
    </div>
    <!--about us section end-->

    <!-- service wrapper Start -->
    <div class="service_main_wrapper">
        <div class="service_overlay"></div>
        <div class="container">
            <div class="row">
                <!-- section_heading start -->
                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <div class="text-center">
                        <div class="section_heading dark_section_heading">
                            <h2>oferta <span>académica</span></h2>
                            <div class="title-bdr dark_title_bdr">
                                <div class="title-bdr-inside"></div>
                            </div>
                            <p>La Universidad Autónoma Metropolitana campus Iztapalapa cuenta con la siguiente oferta Académica.</p>
                        </div>
                    </div>
                </div>
                <!-- section_heading end -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="hs_service_main_box_wrapper  wow  fadeInUp animated" data-wow-duration="1.3s" style="visibility: visible; animation-duration: 1.3s; animation-name: fadeInUp;">
                            <div class="hs_service_icon_main_wrapper">
                                <div class="hs_service_icon_wrapper">
                                    <i class="fa fa-address-card" aria-hidden="true"></i>
                                    <div class="btc_step_overlay"></div>
                                </div>
                            </div>
                            <div class="hs_service_icon_cont_wrapper">
                                <h2>licenciaturas</h2>
                                <p>Texto.</p>
                                <h5><a href="#">Más información <i class="fa fa-long-arrow-right"></i></a></h5>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="hs_service_main_box_wrapper  wow  fadeInUp animated" data-wow-duration="1.6s" style="visibility: visible; animation-duration: 1.6s; animation-name: fadeInUp;">
                            <div class="hs_service_icon_main_wrapper">
                                <div class="hs_service_icon_wrapper">
                                    <i class="fa fa-address-card-o" aria-hidden="true"></i>
                                    <div class="btc_step_overlay"></div>
                                </div>
                            </div>
                            <div class="hs_service_icon_cont_wrapper">
                                <h2>maestrías</h2>
                                <p>Texto.</p>
                                <h5><a href="#">Más información <i class="fa fa-long-arrow-right"></i></a></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="hs_service_main_box_wrapper  wow  fadeInUp animated" data-wow-duration="1.9s" style="visibility: visible; animation-duration: 1.9s; animation-name: fadeInUp;">
                            <div class="hs_service_icon_main_wrapper">
                                <div class="hs_service_icon_wrapper">
                                    <i class="fa fa-id-card-o" aria-hidden="true"></i>
                                    <div class="btc_step_overlay"></div>
                                </div>
                            </div>
                            <div class="hs_service_icon_cont_wrapper">
                                <h2>doctorados</h2>
                                <p>Texto.</p>
                                <h5><a href="#">Más información <i class="fa fa-long-arrow-right"></i></a></h5>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="hs_service_main_box_wrapper  wow  fadeInUp animated" data-wow-duration="2.1s" style="visibility: visible; animation-duration: 2.1s; animation-name: fadeInUp;">
                            <div class="hs_service_icon_main_wrapper">
                                <div class="hs_service_icon_wrapper">
                                    <i class="fa fa-umbrella" aria-hidden="true"></i>
                                    <div class="btc_step_overlay"></div>
                                </div>
                            </div>
                            <div class="hs_service_icon_cont_wrapper">
                                <h2>escort monitoring</h2>
                                <p>Proin gravida nibh vel velit auctor aliquet. Aenean .</p>
                                <h5><a href="#">Read More <i class="fa fa-long-arrow-right"></i></a></h5>
                            </div>
                        </div>
                    </div> -->

                    <!-- <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="hs_service_main_box_wrapper  wow  fadeInUp animated" data-wow-duration="2.3s" style="visibility: visible; animation-duration: 2.3s; animation-name: fadeInUp;">
                            <div class="hs_service_icon_main_wrapper">
                                <div class="hs_service_icon_wrapper">
                                    <i class="fa fa-university" aria-hidden="true"></i>
                                    <div class="btc_step_overlay"></div>
                                </div>
                            </div>
                            <div class="hs_service_icon_cont_wrapper">
                                <h2>remote guarding</h2>
                                <p>Proin gravida nibh vel velit auctor aliquet. Aenean .</p>
                                <h5><a href="#">Read More <i class="fa fa-long-arrow-right"></i></a></h5>
                            </div>
                        </div>
                    </div> -->
                    <!-- <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="hs_service_main_box_wrapper  wow  fadeInUp animated" data-wow-duration="2.6s" style="visibility: visible; animation-duration: 2.6s; animation-name: fadeInUp;">
                            <div class="hs_service_icon_main_wrapper">
                                <div class="hs_service_icon_wrapper">
                                    <i class="fa fa-briefcase" aria-hidden="true"></i>
                                    <div class="btc_step_overlay"></div>
                                </div>
                            </div>
                            <div class="hs_service_icon_cont_wrapper">
                                <h2>risk assestment</h2>
                                <p>Proin gravida nibh vel velit auctor aliquet. Aenean .</p>
                                <h5><a href="#">Read More <i class="fa fa-long-arrow-right"></i></a></h5>
                            </div>
                        </div>
                    </div> -->

                </div>
                <!-- /.container -->
            </div>
            <!--/.portfolio-area-->
        </div>
    </div>

    <!-- hs service wrapper End -->


    <!-- team wrapper  start -->
    <div class="team_wrapper">
        <div class="container">
            <div class="row">
                <!-- section_heading start -->
                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <div class="text-center">
                        <div class="section_heading">
                            <h2>Líneas de aplicación  <span> y generación de conocimiento.</span></h2>
                            <div class="title-bdr">
                                <div class="title-bdr-inside"></div>
                            </div>
                            <p></p>
                        </div>
                    </div>
                </div>
                <!-- section_heading end -->
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                    <div class="team_slider_wrapper">
                        <div class="owl-carousel owl-theme">
                            <div class="item">
                                <div class="main_wrapper">
                                    <div class="image_wrapper">
                                        <img src="assets/assets/images/team/team-2.jpg" class="img-responsive" alt="team1_img" />
                                        <div class="image_wrapper_overlay">
                                            <div class="content_wrapper">
                                                <h4>Texto</h4>
                                                <h5>Texto</h5>
                                                <!-- <ul class="social_icons">
                                                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa fa-google-plus"></i></a>
                                                    </li>
                                                </ul> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="main_wrapper">
                                    <div class="image_wrapper">
                                        <img src="assets/assets/images/team/team-1.jpg" class="img-responsive" alt="team2_img" />
                                        <div class="image_wrapper_overlay">
                                            <div class="content_wrapper">
                                                <h4>Texto</h4>
                                                <h5>Texto</h5>
                                                <!-- <ul class="social_icons">
                                                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa fa-google-plus"></i></a>
                                                    </li>
                                                </ul> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="main_wrapper">
                                    <div class="image_wrapper">
                                        <img src="assets/assets/images/team/team-3.jpg" class="img-responsive" alt="team3_img" />
                                        <div class="image_wrapper_overlay">
                                            <div class="content_wrapper">
                                                <h4>Texto</h4>
                                                <h5>Texto</h5>
                                                <!-- <ul class="social_icons">
                                                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa fa-google-plus"></i></a>
                                                    </li>
                                                </ul> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="main_wrapper">
                                    <div class="image_wrapper">
                                        <img src="assets/assets/images/team/team-2.jpg" class="img-responsive" alt="team4_img" />
                                        <div class="image_wrapper_overlay">
                                            <div class="content_wrapper">
                                                <h4>Texto</h4>
                                                <h5>Texto</h5>
                                                <!-- <ul class="social_icons">
                                                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa fa-google-plus"></i></a>
                                                    </li>
                                                </ul> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="main_wrapper">
                                    <div class="image_wrapper">
                                        <img src="assets/assets/images/team/team-1.jpg" class="img-responsive" alt="team5_img" />
                                        <div class="image_wrapper_overlay">
                                            <div class="content_wrapper">
                                                <h4>Texto</h4>
                                                <h5>Texto</h5>
                                                <!-- <ul class="social_icons">
                                                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa fa-google-plus"></i></a>
                                                    </li>
                                                </ul> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- team wrapper -->

    <!-- DREAMS AREA -->
    <div class="dreams-area">
        <div class="dream-area-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="dreams-title">
                        <h2>
                        Sección<span> para resaltar</span> <br> una noticia.</h2>
                    </div>
                </div>
                <!-- // END COL MD 10 -->
                <div class="text-center portfolio-btn drem_btn">
                    <a href="#" class="btn">Más información</a>
                </div>
                <!-- // END COL MD 2 -->
            </div>
            <!-- // END ROW-->
        </div>
        <!-- // END CONTAINER -->
    </div>
    <!-- // END DREAMS AREA -->

    <!-- Blog Section -->
    <div id="blog" class="blog-sec">
        <div class="container">
            <div class="row">
                <!-- section_heading start -->
                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <div class="text-center">
                        <div class="section_heading">
                            <h2>noticias <span> y Avisos</span></h2>
                            <div class="title-bdr">
                                <div class="title-bdr-inside"></div>
                            </div>
                            <p>Avisos a la comunidad.</p>
                        </div>
                    </div>
                </div>
                <!-- section_heading end -->
            </div>
            <div class="row">

                <div class="col-md-4 col-sm-6">
                    <div class="blog-box">
                        <div class="blog-img">
                            <img src="assets/assets/images/blog/blog-1.jpg" alt="img" class="img-responsive">
                            <div class="blog-date">
                                <ul>
                                    <li><i class="fa fa-user"></i><a href="#">Autor</a>
                                    </li>
                                    <li>20 Dec, 2020
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="blog-content">
                            <h4><a href="#">Evento</a></h4>
                            <p>Información del evento</p>

                            <div class="text-center portfolio-btn blog_btn">
                                <a href="#" class="btn">Más Información</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="blog-box">
                        <div class="blog-img">
                            <img src="assets/assets/images/blog/blog-2.jpg" alt="img" class="img-responsive">
                            <div class="blog-date">
                                <ul>
                                    <li><i class="fa fa-user"></i><a href="#">Autor</a>
                                    </li>
                                    <li>21 Nov, 2020
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="blog-content">
                            <h4><a href="#">Noticias</a></h4>
                            <p>Detalles de la noticia</p>

                            <div class="text-center portfolio-btn blog_btn">
                                <a href="#" class="btn">Más información</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 hidden-sm hidden-xs">
                    <div class="blog-box">
                        <div class="blog-img">
                            <img src="assets/assets/images/blog/blog-3.jpg" alt="img" class="img-responsive">
                            <div class="blog-date">
                                <ul>
                                    <li><i class="fa fa-user"></i><a href="#">Autor</a>
                                    </li>
                                    <li>17 Oct, 2018
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="blog-content">
                            <h4><a href="#">Conferencia</a></h4>
                            <p>Detalle de la Conferencia</p>

                            <div class="text-center portfolio-btn blog_btn">
                                <a href="#" class="btn">Más información</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
