<div class="page_title_section">
    <div class="page_title_overlay"></div>
    <div class="page_header">
        <div class="container">
            <div class="row">
                <!-- section_heading start -->
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                    <h1>{{tituloPagina}} </h1>
                    <div class="sub_title_section">
                        <ul class="sub_title">
                            <li> <a href="#"> {{tituloPagina}} </a> <i class="fa fa-angle-right" aria-hidden="true"></i> </li>
                            <li>{{subtituloPagina}} </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section_1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                <div class="about_text_wrapper">
                    <h2>{{tituloseccion1}}</h2>
                    <p>{{contenido1}}</p>
                    <h3>{{subtitulo2}}</h3>
                    <p>{{contenido2}}.</p>

                    <h3>{{subtitulo3}}</h3>
                    <p>{{contenido3}}.</p>

                    <h3>{{subtitulo4}}</h3>
                    <p>{{contenido4}}</p>

                    <h2>{{tituloseccion2}}</h2>
                    <p>{{contenido5}}</p>

                    <h3>{{subtitulo6}}</h3>
                    <p>{{contenido6}}.</p>

                    <h3>{{subtitulo7}}</h3>
                    <p>{{contenido7}}.</p>

                    <h3>{{subtitulo8}}</h3>
                    <p>{{contenido8}}.</p>

                    <h3>{{subtitulo9}}</h3>
                    <p>{{contenido9}}.</p>

                    <h3>{{subtitulo10}}</h3>
                    <p>{{contenido10}}.</p>

                    <h3>{{subtitulo11}}</h3>
                    <p>{{contenido11}}.</p>

                    <h3>{{subtitulo12}}</h3>
                    <p>{{contenido12}}.</p>

                    <h2>{{tituloseccion3}}</h2>
                    <p>{{contenido13}}</p>
                    <button class="btn_discover" type="button">{{boton}}</button>
                    <!-- <button class="btn_read_more" type="button">read more</button> -->
                </div>
            </div>


                            </div>
                            <div id="collapseLeftTwo" class="panel-collapse collapse" aria-expanded="false" role="tablist">
                                <div class="panel-body">
                                    <div class="img-accordion">
                                        <img src="images/about_us/accordion2.jpg" alt="">
                                    </div>
                                    <div class="text-accordion">
                                        <p>
                                            Morbi accumsan ipsum velit. Nam nec aks tel lus a odio tincidunt auctor. Proi gravida nibh vel velit auctor.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-default -->

                        <!-- /.panel-default -->

                        <!-- /.panel-default -->
                    </div>

