<div class="page_title_section">
    <div class="page_title_overlay"></div>
    <div class="page_header">
        <div class="container">
            <div class="row">
                <!-- section_heading start -->
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                    <h1>{{tituloPagina}} </h1>
                    <div class="sub_title_section">
                        <ul class="sub_title">
                            <li> <a href="#"> {{tituloPagina}} </a> <i class="fa fa-angle-right" aria-hidden="true"></i> </li>
                            <li>{{subtituloPagina}} </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<span><i class="fa fa-caret-right"></i>
</span>

<section class="headingTwo ptb-100 gray-bg">
    <div class="container text-center">
        <h2>{{subtituloPagina}}</h2>
    </div>

</section>


<div class="section_4">
    <div class="container">
     <div class="row">
       <!-- <div class="col-lg-6 col-md-12 col-xs-12 col-sm-12 col-lg-offset-3">
         <div class="text_heading">
           <h2>More Buttons</h2>
         </div>
       </div> -->
       <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
         <div class="social_icon1">
           <ul>
             <li><a href="#" class="facebook"><i  aria-hidden="true"></i> {{boton1}}</a>
             <!-- <li><a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i> Alumnos Nacionales</a> -->
             </li>
             <li><a href="#" class="twitter"><i  aria-hidden="true"></i> {{boton2}}</a>
             <!-- </li>
             <li><a href="#" class="google"><i class="fa fa-google-plus" aria-hidden="true"></i> Sign in by google</a>
             </li> -->
           </ul>
         </div>
       </div>
     </div>
   </div>
 </div>
 <div class="section_1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                <div class="about_text_wrapper">
                    <h2>{{subtitulo1}}</h2>
                    <p>{{contenido1}}</p>
                    <h3>{{subtitulo2}}</h3>
                    <p>{{contenido2}}</p>
                    <button class="btn_discover" type="button">{{boton3}}</button>
                    <!-- <button class="btn_read_more" type="button">read more</button> -->
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                <div class="accordion_wrapper">
                    <div class="panel-group" id="accordionOneLeft">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordionOneLeft" href="#collapseLeftone" aria-expanded="true">
              {{subtitulo3}}}
              </a>
            </h4>
                            </div>
                            <div id="collapseLeftone" class="panel-collapse collapse in" aria-expanded="false" role="tablist">
                                <div class="panel-body">
                                    <div class="img-accordion">
                                        <img src="images/about_us/accordion1.jpg" alt="">
                                    </div>
                                    <div class="text-accordion">
                                        <p>
                                            {{contenido3}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-default -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordionOneLeft" href="#collapseLeftTwo" aria-expanded="false">
              {{subtitulo4}}
              </a>
            </h4>
                            </div>
                            <div id="collapseLeftTwo" class="panel-collapse collapse" aria-expanded="false" role="tablist">
                                <div class="panel-body">
                                    <div class="img-accordion">
                                        <img src="images/about_us/accordion2.jpg" alt="">
                                    </div>
                                    <div class="text-accordion">
                                        <p>
                                            {{contenido4}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-default -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordionOneLeft" href="#collapseLeftThree" aria-expanded="false">
                {{subtitulo5}}
              </a>
            </h4>
                            </div>
                            <div id="collapseLeftThree" class="panel-collapse collapse" aria-expanded="false" role="tablist">
                                <div class="panel-body">
                                    <div class="img-accordion">
                                        <img src="images/about_us/accordion3.jpg" alt="">
                                    </div>
                                    <div class="text-accordion">
                                        <p>
                                            {{contenido5}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-default -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordionOneLeft" href="#collapseLeftFour" aria-expanded="false">
              {{subtitulo6}}

              </a>
            </h4>
                            </div>
                            <div id="collapseLeftFour" class="panel-collapse collapse" aria-expanded="false" role="tablist">
                                <div class="panel-body">
                                    <div class="img-accordion">
                                        <img src="images/about_us/accordion3.jpg" alt="">
                                    </div>
                                    <div class="text-accordion">
                                        <p>
                                            {{contenido6}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-default -->
                        <!-- /.panel-default -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordionOneLeft" href="#collapseLeftFour" aria-expanded="false">
            {{subtitulo7}}

              </a>
            </h4>
                            </div>
                            <div id="collapseLeftFour" class="panel-collapse collapse" aria-expanded="false" role="tablist">
                                <div class="panel-body">
                                    <div class="img-accordion">
                                        <img src="images/about_us/accordion3.jpg" alt="">
                                    </div>
                                    <div class="text-accordion">
                                        <p>
                                            {{contenido7}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-default -->
                        <!-- /.panel-default -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordionOneLeft" href="#collapseLeftFour" aria-expanded="false">
             {{subtitulo8}}

              </a>
            </h4>
                            </div>
                            <div id="collapseLeftFour" class="panel-collapse collapse" aria-expanded="false" role="tablist">
                                <div class="panel-body">
                                    <div class="img-accordion">
                                        <img src="images/about_us/accordion3.jpg" alt="">
                                    </div>
                                    <div class="text-accordion">
                                        <p>
                                            {{contenido8}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-default -->
                    </div>
                    <!--end of /.panel-group-->
                </div>
            </div>
            <!--end of /.col-sm-6-->

        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- Fin Alumnos Nacionales -->

<!-- Alumnos Extranjeros -->
<div class="section_1">
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
            <div class="about_text_wrapper">
                <h2>{{subtitulo9}}</h2>
                <p>{{contenido9}}</p>
                <h3>{{subtitulo10}}</h3>
                <p>{{contenido10}}</p>
                <button class="btn_discover" type="button">{{boton4}}</button>
                <!-- <button class="btn_read_more" type="button">read more</button> -->
            </div>
        </div>
        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
            <div class="accordion_wrapper">
                <div class="panel-group" id="accordionOneLeft">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordionOneLeft" href="#collapseLeftone" aria-expanded="true">
         {{subtitulo11}}
          </a>
        </h4>
                        </div>
                        <div id="collapseLeftone" class="panel-collapse collapse in" aria-expanded="false" role="tablist">
                            <div class="panel-body">
                                <div class="img-accordion">
                                    <img src="images/about_us/accordion1.jpg" alt="">
                                </div>
                                <div class="text-accordion">
                                    <p>
                                        {{contenido11}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel-default -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordionOneLeft" href="#collapseLeftTwo" aria-expanded="false">
          {{subtitulo12}}
          </a>
        </h4>
                        </div>
                        <div id="collapseLeftTwo" class="panel-collapse collapse" aria-expanded="false" role="tablist">
                            <div class="panel-body">
                                <div class="img-accordion">
                                    <img src="images/about_us/accordion2.jpg" alt="">
                                </div>
                                <div class="text-accordion">
                                    <p>
                                        {{contenido12}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel-default -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordionOneLeft" href="#collapseLeftThree" aria-expanded="false">
         {{subtitulo13}}
          </a>
        </h4>
                        </div>
                        <div id="collapseLeftThree" class="panel-collapse collapse" aria-expanded="false" role="tablist">
                            <div class="panel-body">
                                <div class="img-accordion">
                                    <img src="images/about_us/accordion3.jpg" alt="">
                                </div>
                                <div class="text-accordion">
                                    <p>
                                        {{contenido13}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel-default -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordionOneLeft" href="#collapseLeftFour" aria-expanded="false">
          {{subtitulo14}}

          </a>
        </h4>
                        </div>
                        <div id="collapseLeftFour" class="panel-collapse collapse" aria-expanded="false" role="tablist">
                            <div class="panel-body">
                                <div class="img-accordion">
                                    <img src="images/about_us/accordion3.jpg" alt="">
                                </div>
                                <div class="text-accordion">
                                    <p>
                                        {{contenido14}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordionOneLeft" href="#collapseLeftFour" aria-expanded="false">
          {{subtitulo15}}

          </a>
        </h4>
                        </div>
                        <div id="collapseLeftFour" class="panel-collapse collapse" aria-expanded="false" role="tablist">
                            <div class="panel-body">
                                <div class="img-accordion">
                                    <img src="images/about_us/accordion3.jpg" alt="">
                                </div>
                                <div class="text-accordion">
                                    <p>
                                        {{contenido15}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordionOneLeft" href="#collapseLeftFour" aria-expanded="false">
            {{subtitulo16}}

          </a>
        </h4>
                        </div>
                        <div id="collapseLeftFour" class="panel-collapse collapse" aria-expanded="false" role="tablist">
                            <div class="panel-body">
                                <div class="img-accordion">
                                    <img src="images/about_us/accordion3.jpg" alt="">
                                </div>
                                <div class="text-accordion">
                                    <p>
                                        {{contenido16}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel-default -->
                </div>
                <!--end of /.panel-group-->
            </div>
        </div>
        <!--end of /.col-sm-6-->

    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
</div>
<!-- Fin Alumnos Extranjeros -->