<div class="page_title_section">
    <div class="page_title_overlay"></div>
    <div class="page_header">
        <div class="container">
            <div class="row">
                <!-- section_heading start -->
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                    <h1>{{tituloPagina}} </h1>
                    <div class="sub_title_section">
                        <ul class="sub_title">
                            <li> <a href="#"> {{tituloPagina}} </a> <i class="fa fa-angle-right" aria-hidden="true"></i> </li>
                            <li>{{subtituloPagina}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section_1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                <div class="about_text_wrapper">
                    <h2>{{subtitulo1}}</h2>
                    <p>{{contenido1}}</p>
                    <h3>{{subtitulo2}}</h3>
                    <p>{{contenido2}}</p>
                    <button class="btn_discover" type="button">{{boton2}}</button>
                    <h3>{{subtitulo3}}</h3>
                    <p>{{contenido3}}</p>
                    <button class="btn_discover" type="button">{{boton3}}</button>
                    <h3>{{subtitulo4}}</h3>
                    <p>{{contenido4}}</p>
                    <button class="btn_discover" type="button">{{boton4}}</button>
                    <h3>{{subtitulo5}}</h3>
                    <p>{{contenido5}}</p>
                    <button class="btn_discover" type="button">{{boton5}}</button>
                    <!-- <button class="btn_read_more" type="button">read more</button> -->
                </div>
            </div>


                            </div>
                            <div id="collapseLeftTwo" class="panel-collapse collapse" aria-expanded="false" role="tablist">
                                <div class="panel-body">
                                    <div class="img-accordion">
                                        <img src="images/about_us/accordion2.jpg" alt="">
                                    </div>
                                    <div class="text-accordion">
                                        <p>
                                            Morbi accumsan ipsum velit. Nam nec aks tel lus a odio tincidunt auctor. Proi gravida nibh vel velit auctor.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>