<div class="page_title_section">
    <div class="page_title_overlay"></div>
    <div class="page_header">
        <div class="container">
            <div class="row">
                <!-- section_heading start -->
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                    <h1>Profesores </h1>
                    <div class="sub_title_section">
                        <ul class="sub_title">
                            <li> <a href="#"> Profesores </a> <i class="fa fa-angle-right" aria-hidden="true"></i> </li>
                            <li> •	Área a la que están Adscritos </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<span><i class="fa fa-caret-right"></i>
</span>

<div class="section_5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-xs-12 col-sm-12 col-lg-offset-3">
                <div class="section5_text_wrapper">
                    <div class="section5_text_heading">
                        <h2>Nombre del Área</h2>
                    </div>
                    <div class="section5_text_content">
                        <p>El área cuenta con los siguientes Profesores adscritos:</p>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                <div class="section5_team_slider">
                    <div class="owl-carousel owl-theme owl-loaded owl-drag">



                        <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-960px, 0px, 0px); transition: all 0s ease 0s; width: 3360px;"><div class="owl-item cloned" style="width: 220px; margin-right: 20px;"><div class="item">
                            <div class="section5_main_wrapper">
                                <div class="section5_slider_image">
                                    <img src="assets/images/team-images/team-26.jpg" class="img-responsive" alt="team26_img">
                                    <i class="fas fa-chalkboard-teacher"></i>
                                </div>
                                <div class="section5_slider_content">
                                    <h5>Dr. / Mtro. / Ing.</h5>
                                    <h4><a href="#">Nombre Profesor</a></h4>
                                </div>
                            </div>
                        </div>
                        </div>
                        

                        <div class="owl-item cloned" style="width: 220px; margin-right: 20px;"><div class="item">
                            <div class="section5_main_wrapper">
                                <div class="section5_slider_image">
                                <img src="assets/images/team-images/team-27.jpg" class="img-responsive" alt="team27_img">
                                    <i class="fas fa-chalkboard-teacher"></i>
                                </div>
                                <div class="section5_slider_content">
                                    <h5>Creative Director</h5>
                                    <h4><a href="#">Nombre Profesor</a></h4>
                                </div>
                            </div>
                        </div></div></div></div><div class="owl-nav"><div class="owl-prev"><i class="fa fa-angle-left" aria-hidden="true"></i></div><div class="owl-next"><i class="fa fa-angle-right" aria-hidden="true"></i></div></div><div class="owl-dots"><div class="owl-dot active"><span></span></div><div class="owl-dot"><span></span></div></div></div>
   
